<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.BooksMapper">

	<!-- 책목록 -->
	<select id="booksList" parameterType="string" resultType="BooksDTO">
		select 
			b.book_idx, 
			book_author, 
			book_pub, 
			book_name, 
			book_year, 
			book_ISBN, 
			book_image, 
			r.return_YN, 
			g.book_genre,
			b.book_genre_idx
		from book as b 
			left join 
				rent as r ON b.book_idx = r.book_idx
			left join 
				genre as g ON g.book_genre_idx = b.book_genre_idx
		where return_YN = 'Y' or return_YN is null
	</select>

	<!-- 책검색 -->
	<select id="searchBooksList" parameterType="string"	resultType="BooksDTO">
		SELECT 
		    b.book_idx, 
		    b.book_author, 
		    b.book_pub, 
		    b.book_name, 
		    b.book_year, 
		    b.book_ISBN, 
		    b.book_image, 
		    r.return_YN, 
		    g.book_genre
		FROM 
		    book AS b 
		LEFT JOIN 
		    rent AS r ON b.book_idx = r.book_idx
		LEFT JOIN 
		    genre AS g ON g.book_genre_idx = b.book_genre_idx
		WHERE 
		    (r.return_YN = 'Y' OR r.return_YN IS NULL)
		    AND (
		        b.book_idx LIKE CONCAT('%', #{keyword}, '%')
		        OR b.book_author LIKE CONCAT('%', #{keyword}, '%')
		        OR b.book_pub LIKE CONCAT('%', #{keyword}, '%')
		        OR b.book_name LIKE CONCAT('%', #{keyword}, '%')
		        OR b.book_year LIKE CONCAT('%', #{keyword}, '%')
		        OR b.book_ISBN LIKE CONCAT('%', #{keyword}, '%')
		    )

	</select>

	<!--책 예약하기 -->
	<insert id="rentBook" parameterType="RentDTO">
		INSERT INTO rent (book_idx, member_idx, rent_date, rent_return, return_YN)
		VALUES (#{book_idx}, (SELECT member_idx FROM member WHERE member_id = #{member_id} limit 1), NOW(), DATE_ADD(NOW(), INTERVAL 7 DAY),'N')
	</insert>
	
	<!-- 대여목촉 -->
	<select id="myBooksList" parameterType="string" resultType="RentDTO">
		select 
			b.book_idx, 
			b.book_author, 
			b.book_pub, 
			b.book_name, 
			b.book_image,
        	r.member_idx,
        	r.rent_date,
        	r.rent_return
		from book as b 
			left join 
				rent as r ON b.book_idx = r.book_idx
			where r.member_idx = #{member_idx}
	</select>
	<!-- 예약목록삭제 -->
	<delete id="deleteMyBook" parameterType="String">
			   delete from rent  
			   		 where book_idx= #{book_idx}
     </delete>
</mapper>


