<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.mapper.ManagerMapper">
 
     <!-- 관리자 : 회원리스트 불러오기 -->
     <select id="memberList" parameterType="string" resultType="MemberDTO">
     
				    select member_idx, 
				      	   member_id, 
				      	   left(member_pw, 8) as member_pw, 
				      	   member_name, 
				      	   member_phone1, 
				      	   member_phone2, 
				      	   member_phone3, 
				      	   member_date, 
				      	   member_addressRoad,
				      	   member_addressJibun,
				      	   member_addressDetail
				      from member
     </select>
     
     
     <!-- 관리자 : 특정회원 불러오기 -->
     <select id="getMember" parameterType="int" resultType="MemberDTO">
     
				    select member_idx, 
				      	   member_id, 
				      	   left(member_pw, 8) as member_pw, 
				      	   member_name, 
				      	   member_phone1, 
				      	   member_phone2, 
				      	   member_phone3, 
				      	   member_date, 
				      	   member_addressRoad,
				      	   member_addressJibun,
				      	   member_addressDetail 
				      from member
				     where member_idx=#{member_idx}
     </select>
     
     
     <!-- 관리자 : 회원삭제 -->
     <delete id="deleteMember" parameterType="int">
     
			   delete from member  
			   		 where member_idx= #{member_idx}
     </delete>
     
     <!-- 관리자 : 회원수정 -->
     <update id="editMember" parameterType="MemberDTO">
     				
     				update member
				       set member_name = #{member_name},
				           member_phone1= #{member_phone1},
				           member_phone2= #{member_phone2},
				           member_phone3= #{member_phone3},
				           member_addressRoad = #{member_addressRoad},  
				           member_addressJibun = #{member_addressJibun},  
				           member_addressDetail = #{member_addressDetail}  
				     where member_idx=#{member_idx}   	
     </update>
     
</mapper>


