<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.mapper.MemberMapper">
 
<select id="idCheck" parameterType="string" resultType="int">
    select count(*)
    from member
    where member_id=#{member_id}
</select>
  <!-- 회원가입 -->
  <insert id="save" parameterType="MemberDTO">
  
			   insert into member (
				           member_id, 
				           member_pw, 
				           member_phone1,
				           member_phone2,
				           member_phone3,
				           member_name, 
				           member_addressRoad,
				           member_addressJibun,
				           member_addressDetail
			   ) values (  #{member_id}, 
				           #{member_pw}, 
				           #{member_phone1}, 
				           #{member_phone2}, 
				           #{member_phone3}, 
				           #{member_name}, 
				           #{member_addressRoad},
				           #{member_addressJibun},
				           #{member_addressDetail})
	</insert>
	<!-- 로그인 기능 -->
    <select id="findById" parameterType="string" resultType="MemberDTO">
    
				    select 
				      	   member_id, 
				      	   member_pw
				      from member
				     where member_id= #{member_id}
	</select>

    <select id="findMypage" parameterType="string" resultType="MemberDTO">
    <!-- test -->
				    select 
				    	   member_id,
				      	   member_name, 
				      	   member_phone1,
				      	   member_phone2,
				      	   member_phone3, 
				      	   member_addressRoad,
				           member_addressJibun,
				           member_addressDetail
				      from member
				      where member_id= #{member_id}
	</select>
	
	<update id="updateMypage" parameterType="MemberDTO">
     				
     				update member
				       set member_id = #{member_id},
				           member_phone1= #{member_phone1},
				           member_phone2= #{member_phone2},
				           member_phone3= #{member_phone3},
				           member_addressRoad = #{member_addressRoad},  
				           member_addressJibun = #{member_addressJibun},  
				           member_addressDetail = #{member_addressDetail}  
				     where member_idx=#{member_idx} 	
     </update>
</mapper>


