@charset "utf-8";
/*----------------------------BooksList-----------------------------*/
button {
    background-color: black;
}

.bookcard{
    display: flex;
    align-items: center;
    width: 400px;
    height: 200px;
	padding-bottom: 20px;
}

.bookcard table {
    font-size: 0.7rem;
}

.bookcard_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}

.bookcard_img img{
    width: 110px;
    height: 180px;
}

.bookcard_text {
    border: 1px solid black;
    height: 100%;
    width: 260px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bookcard_text table {
    width: 100%;
    text-overflow: ellipsis;
}

.bookcard_text table td{
	/*border: 1px solid #ccc;*/
	padding: 3px;
	max-width: 150px; /* You can adjust this value as needed */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
    
}

.bookcard_button{
	padding: 0;
}

.bookcard_button button{
	margin: 0;
    width: 90px;
    font-size: 0.7rem;
}