@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.Login {
    text-align: center;
}

.loginhead {
    font-size: 2em;
    margin-bottom: 20px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpForm div {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpForm label {
	
    margin-right: 10px;
    width: 150px;
    text-align: right;
}

.signUpForm input, 
.signUpForm button, 
.signUpForm span {
    flex: 1;
}

.signUpForm button {
    width: 150px;
    margin-left: 10px;
}

.text-warning {
    color: #ff0000;
}

#idcheck, #pwdcheck {
    margin-top: 5px;
    color: #ff0000;
    font-weight: bold;
}

#pwdcheck.fs-5 {
    font-size: 1.25em;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    
    color: #fff;
    cursor: pointer;
    background-color: black;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: black;
}

.btn-success:hover {
    background-color: #218838;
}
