.mybooklist-box{
	margin-top: 5px;
	width: 1200px;
	height: 500px;
}
.mybooklist-box-top{
	border-bottom: 1px solid black;
	width: 100%;
	height: 25px;
}
.mybooklist-box-top p{
	font-weight: bold;
}
.book_info{
	width: 1150px;
}
.book_info tr:nth-child(even){
	background-color: rgb(251, 251, 251);
}
.table-column{
	height: 40px;
	/* border-bottom: 1px solid gray; */
}
.table-column td{
	font-weight:bold;
	text-align: center;
}
td img{
	width: 100px;
	height: 150px;
}
.text-c{
	text-align: center;
}

/* .table-row:hover {
	border: 1px solid black;
} */